<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">

<head th:replace="~{base::head}"></head>

<body>
	<!-- Navbar Start -->
	<div th:replace="~{base::navbar(service='active')}"></div>
	<!-- Navbar End -->


	<!-- Page Header Start -->
	<div th:replace="~{base::header(text='Service')}"></div>
	<!-- Page Header End -->

	<!-- Service Start -->
	<div class="container-fluid pt-5">
		<div class="container">
			<div class="section-title">
				<h4 class="text-primary text-uppercase"
					style="letter-spacing: 5px; color: gold; text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6); background: #222; padding: 15px 30px; border-radius: 10px; display: inline-block;">Our
					Services</h4>
				<h1 class="display-4">Modern</h1>
			</div>
			<div class="row">
				<div class="col-lg-6 mb-5">
					<div class="row align-items-center">
						<div class="col-sm-5">
							<img class="img-fluid mb-3 mb-sm-0" src="img/1jpg.jpg" alt="">
						</div>
						<div class="col-sm-7">
							<h4>
								<i class="fa fa-truck service-icon"></i>Fastest Door Delivery
							</h4>
							<p class="m-0">Sit lorem ipsum et diam elitr est dolor sed
								duo. Guberg sea et et lorem dolor sed est sit invidunt, dolore
								tempor diam ipsum takima erat tempor</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mb-5">
					<div class="row align-items-center">
						<div class="col-sm-5">
							<img class="img-fluid mb-3 mb-sm-0" src="img/2.jpg" alt="">
						</div>
						<div class="col-sm-7">
							<h4>
								<i class="fas fa-tshirt service-icon"></i>Fresh clothing
							</h4>
							<p class="m-0">Sit lorem ipsum et diam elitr est dolor sed
								duo. Guberg sea et et lorem dolor sed est sit invidunt, dolore
								tempor diam ipsum takima erat tempor</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mb-5">
					<div class="row align-items-center">
						<div class="col-sm-5">
							<img class="img-fluid mb-3 mb-sm-0" src="img/3.jpg" alt="">
						</div>
						<div class="col-sm-7">
							<h4>
								<i class="fa fa-award service-icon"></i>Best Quality closths
							</h4>
							<p class="m-0">Sit lorem ipsum et diam elitr est dolor sed
								duo. Guberg sea et et lorem dolor sed est sit invidunt, dolore
								tempor diam ipsum takima erat tempor</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mb-5">
					<div class="row align-items-center">
						<div class="col-sm-5">
							<img class="img-fluid mb-3 mb-sm-0" src="img/4.jpg" alt="">
						</div>
						<div class="col-sm-7">
							<h4>
								<i class="fa fa-table service-icon"></i>Online Booking
							</h4>
							<p class="m-0">Sit lorem ipsum et diam elitr est dolor sed
								duo. Guberg sea et et lorem dolor sed est sit invidunt, dolore
								tempor diam ipsum takima erat tempor</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Service End -->

	<!-- Footer Start -->
	<div th:replace="~{base::footer}"></div>
	<!-- Footer End -->


	<!-- Back to Top -->
	<div th:replace="~{base::script}"></div>
</body>

</html>
this want too
